Install the ucimlrepo package

In [15]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\albea\venv\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\albea\venv\lib\site-packages (from ucimlrepo) (3.0.0)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\albea\venv\lib\site-packages (from ucimlrepo) (2026.1.4)
Requirement already satisfied: numpy>=1.26.0 in c:\users\albea\venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\albea\venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\albea\venv\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\albea\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Load the dataset

In [16]:
import pandas as pd
from ucimlrepo import fetch_ucirepo

# Fetch dataset
heart_disease = fetch_ucirepo(id=45)

# Features and target
X = heart_disease.data.features
y = heart_disease.data.targets

# Combine into one DataFrame
df = pd.concat([X, y], axis=1)

Dataset shape

In [17]:
print("Dataset shape:", df.shape)

Dataset shape: (303, 14)

First few rows

In [18]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

Check column names and data types

In [23]:
print("Column names:")
print(df.columns)

print("\n-----------------------------\n")

print("Data types:")
df.dtypes

Column names:
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='str')

-----------------------------

Data types:

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca          float64
thal        float64
num           int64
dtype: object